* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Poor Story', cursive;
}
.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
    font-size: 3rem;
}

.col h2:hover {
    background: rgb(0,0,0,0.1);
    cursor: pointer;
}
.col button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}
.col button:hover {
    background: rgb(0, 0, 0, 0.1);
    cursor: pointer;
}

#more {display: none}

.btn {
    position: absolute;
    padding: 5px 5px;
    border: none;
    font-size: 2.4rem;
    text-align: left;
    background: none;
    cursor: pointer;
}
button:hover {
    transform: scale(1) translateX(0px)}

p {
    background: dimgray;
    color: silver;
    font-size: 61px;
    padding-top: 35px;
}

@media(max-width:960px) {
    .btn {
        font-size: 1.5rem;
    }
    #dots {
        font-size: 1.5rem;
    }
    .col{
        height: calc(1/6*100%);
        width: 100%;
        flex-direction: row;
    }
    body{
        flex-direction: column;
    }
}
